

/* début de main */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}
h1, h2, h5 , legend{
    font-weight: bold;
    color: #33058D;
    font-size: large;
}
p, label{
    color: #33058D;
    font-size: small;
}
input {
    border: 1px solid black;
    border-radius: 5px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #33058D;
    color: white;
}

.title {
    color: white;
    height: 20vh;
    background-image: url(../img/lamanu.jpg);
    background-repeat: no-repeat;
    background-size: 100% 175%;
}

.products {
    width: 180px;
}

.playstation, .surface{
    width: 190px;
}

ul {
    list-style-type: none;
    
}

.icon {
    width: 25px;
}

.map {
    width: 350px;
}

/* fin main */


/* début header */
.navbar{
    background-color: #33058d;
}

.menu{
    background-color: white;
    color:#33058d ;
    font-weight: bold ;
    width: 110px;
    border-radius: 5px;
    font-size: 16px;
}

.logo{
    width: 150px;
}

.navbar-toggler{
    background-color: white;
}
/* fin header */
/*début footer*/

footer{
    background-color: #33058d ;
}

a{
    color: white;
    font-size: 12px;
    text-decoration:none;
}
.footerText1:hover{
    background-color: antiquewhite;
}
.footerReseaux img{
    width: 3vw;
    margin-left: 15px ;
    margin-top: 10px;
}

.footerReseaux .Manu{
    width: 11vw;
}

.footerText1 {
    margin-top: 10px;
    
}
/*fin footer*/
